<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body class="body_login_and_register">
  <div class="login_and_register-box">
    <h1>Реєстрація</h1>
    {% if request.args.get('message') %}
      <div class="alert-success">{{ request.args.get('message') }}</div>
    {% endif %}

    {% if error %}
      <div class="alert-error">{{ error }}</div>
    {% endif %}

    <form method="POST">
      <label for="username">Ім'я користувача</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Зареєструватися</button>
    </form>

    <p>Маєте акаунт? <a href="{{ url_for('login') }}">Увійти</a></p>
  </div>
</body>
</html>